version: "3"

services:
  app:
    environment:
      - APP_DEBUG=1
      - APP_ENV=dev
    volumes:
      - ./app/:/var/www/app/
      - /var/www/app/vendor/

  mongo-express:
    image: mongo-express
    restart: always
    env_file:
      - ./app/.env
    ports:
      - 8095:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: db_user
      ME_CONFIG_MONGODB_ADMINPASSWORD: db_password
